/* all dom */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* end */

/* universal */
.hide {
  display: none;
}
.row {
  padding: 0;
}

.col-sm-12 {
  padding: 0;
}

.container {
  margin: 200px auto;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  border: 3px solid #ffffff;
  border-radius: 20px;
}
/* end */

/* main-content */
.main-content {
  padding: 0 30px;
}

.font-main-content-judul {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 41.8868px;
  color: #ffffff;
}

.font-main-content-text {
  margin: 0;
  padding-top: 30px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 25.888px;
  color: #3f4451;
}

.font-main-content-text-output {
  margin: 0;
  padding-top: 30px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 25.888px;
  color: #ffffff;
}

.btn-custom {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  background: #ffffff;
  border-radius: 30px;
}

.font-main-content-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 25.888px;
  color: #0d0e10;
}
/* end */

/* footer */
.footer {
  font-family: "Courier New", Courier, monospace;
  font-size: x-small;
  padding-top: 15px;
  color: #fff;
}
/* end */

/* media query responsive */
@media (max-width: 575.98px) {
  .container {
    margin: 50px auto;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    border: 3px solid #ffffff;
    border-radius: 20px;
  }

  .font-main-content-judul {
    margin: 0;

    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 25.89px;
    color: #ffffff;
  }

  .font-main-content-text {
    margin: 0;
    padding-top: 30px;

    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: #3f4451;
  }

  .btn-custom {
    margin-top: 30px;
    width: 140px;
    height: 40px;
    background: #ffffff;
    border-radius: 30px;
  }

  .font-main-content-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #0d0e10;
  }

  .font-main-content-text-output {
    margin: 0;
    padding-top: 30px;

    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: #ffffff;
  }
}
